{% load static %}
{% load crispy_forms_filters %}


<div class="container p-0 m-0">

    <div class="projects card rounded">
        <div class="rounded border border-dark">
            <div class="card-header">
                Projects

                <!-- Todo implement search engine and create project -->

            </div>
            <!-- todo same id in list group and task group -->
            <div class="card-body">
                <ul class="list-group">
                    {% for project in projects %}
                        <li class="list-group-item rounded">
                            <div class="row w-100 justify-content-between">
                                <div class="col-12 col-md-5"
                                     ic-get-from="{% url 'view_project' project.id %}"
                                     ic-target="#content"
                                     ic-deps="ignore">

                                    <h6>
                                        {{ project.name }}
                                    </h6>
                                </div>
                                <div class="col-12 col-md-5"
                                     ic-get-from="{% url 'view_project' project.id %}"
                                     ic-target="#content"
                                     ic-deps="ignore">

                                    {{ project.description|default:"" }}
                                </div>
                                <div class="col-12 col-md-2 float-right">

                                    <button class="btn btn-primary btn-sm"
                                            ic-get-from="{% url 'edit_project' project.id %}"
                                            ic-target="#modal_base"
                                            ic-deps="ignore">
                                        <i class="fa fa-pencil-alt"></i>
                                    </button>

                                    <button class="btn btn-danger btn-sm"
                                            ic-post-to="{% url 'delete_project' project.id %}"
                                            ic-confirm="Delete Project {{ project.name }}?"
                                            ic-deps="ignore">
                                        <i class="fa fa-pencil-alt"></i>
                                    </button>
                                </div>

                                <p>XX {{ project.created_at }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>



