{% load static %}

<!-- todo switch to static -->
<!-- change forms urls -->
<link rel="stylesheet" href="../static/login_register_form_styles.css">
{#<link rel="stylesheet" href="{% static 'login_register_form_styles' %}">#}

<div class="form-box" id="login_register_form" role="form">
    <div class="button-box">
        <div id="buttons">
            <button type="button" class="toggle-btn" onclick="login_form()">Log In</button>
            <button type="button" class="toggle-btn" onclick="register_form()">Register</button>
        </div>
        <form id="login-form" class="input-form" method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <label for="username-login">Username</label>
            <input type="text" class="input-field" placeholder="Your username" id="username-login" name="username"
                   required>
            <label for="password-login">Password</label>
            <input type="password" class="input-field" placeholder="Enter Password" id="password-login" name="password"
                   required>
            <input type="checkbox" class="check-box" id="check-box-input-login" name="checkbox">
            <label for="check-box-input-login" id="check-box-label">Remember Password</label>
            <button type="submit" class="submit-btn">Log in</button>
        </form>
        <form id="register-form" class="input-form" method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="first_last_name">
                <label for="first_name-register">First Name</label>
                <input type="text" class="input-field" placeholder="First Name" id="first_name-register"
                       name="first_name"
                       required>
                <label for="last_name-register">Last Name</label>
                <input type="text" class="input-field" placeholder="Last Name" id="last_name-register" name="last_name"
                       required>
            </div>
            <label for="username-register">Username</label>
            <input type="text" class="input-field" placeholder="Your username" id="username-register" name="username"
                   required>
            <label for="email-register">E-mail</label>
            <input type="text" class="input-field" placeholder="example@email.com" id="email-register" name="email"
                   required>
            <label for="password-register">Password</label>
            <input type="password" class="input-field" placeholder="Enter Password" id="password-register"
                   name="password"
                   required>
            <label for="password-check-register">Check Password</label>
            <input type="password" class="input-field" placeholder="Check Password" id="password-check-register"
                   name="password-check"
                   required>
            <input type="checkbox" class="check-box" id="check-box-input-register" name="checkbox" required>
            <label for="check-box-input-register" id="check-box-label">I agree to the terms and conditions</label>
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</div>

<script>
    var log = document.getElementById("login-form");
    var reg = document.getElementById("register-form");
    var btn = document.getElementById("buttons");

    function register_form() {
        log.style.left = "-400px";
        reg.style.left = "50px";
        btn.style.left = "50px";
    }

    function login_form() {
        log.style.left = "50px";
        reg.style.left = "450px";
        btn.style.left = "0";
    }

</script>
