<!-- todo delete -->

<div class="form-box modal">
    <div class="button-box">
        <div id="buttons">
            <button type="button" class="toggle-btn" onclick="login_form()">Log In</button>
            <button type="button" class="toggle-btn" onclick="register_form()">Register</button>
        </div>
        <form id="login-form" class="input-form">
            <label for="username">Username</label>
            <input type="text" class="input-field" placeholder="Your username" id="username" name="username"
                   required>
            <label for="password">Password</label>
            <input type="password" class="input-field" placeholder="Enter Password" id="password" name="password"
                   required>
            <input type="checkbox" class="check-box" id="check-box-input" name="checkbox">
            <label for="check-box-input" id="check-box-label">Remember Password</label>
            <button type="submit" class="submit-btn">Log in</button>
        </form>
        <form id="register-form" class="input-form">
            <div class="first_last_name">
                <label for="first_name">First Name</label>
                <input type="text" class="input-field" placeholder="First Name" id="first_name" name="first_name"
                       required>
                <label for="last_name">Last Name</label>
                <input type="text" class="input-field" placeholder="Last Name" id="last_name" name="last_name"
                       required>
            </div>
            <label for="username">Username</label>
            <input type="text" class="input-field" placeholder="Your username" id="username" name="username"
                   required>
            <label for="email">E-mail</label>
            <input type="text" class="input-field" placeholder="example@email.com" id="email" name="email"
                   required>
            <label for="password">Password</label>
            <input type="password" class="input-field" placeholder="Enter Password" id="password" name="password"
                   required>
            <input type="checkbox" class="check-box" id="check-box-input" name="checkbox" required>
            <label for="check-box-input" id="check-box-label">I agree to the terms and conditions</label>
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</div>

<script>
    var log = document.getElementById("login-form");
    var reg = document.getElementById("register-form");
    var btn = document.getElementById("buttons");

    function register_form() {
        log.style.left = "-400px";
        reg.style.left = "50px";
        btn.style.left = "50px";
    }

    function login_form() {
        log.style.left = "50px";
        reg.style.left = "450px";
        btn.style.left = "0";
    }

</script>