{% load static %}

<style>
    .navbar {
    background-color: #204d74;
    display: flex;
    top: 0;
    width: 100%;
    height: 50px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.navbar a:hover {
    background: #23527c;
    color: lightslategray;
}
</style>

<nav class="navbar navbar-default navbar-fixed-top justify-content-start align-content-center" role="navigation">
    <a href="#">Home</a>
    <a href="#">Calendário</a>
    <a href="{% url 'projetos' %}">Projetos</a>
    <a href="#">Notas</a>
</nav>

