{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.rtl.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-grid.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-reboot.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-utilities.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.css' %}" />
<link rel="stylesheet" href="{% static 'styles.css' %}" />

<div class="navbar justify-content-start align-content-center">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'calendario' %}">Calendário</a>
    <a href="{% url 'projetos' %}">Projetos</a>
    <a href="{% url 'notas' %}">Notas</a>
</div>

{% block sub_barra %}

{% endblock %}

{% block conteudo %}

{% endblock %}


{#{% load static %}#}
{#<link rel="stylesheet" href="{% static 'styles.css' %}" />#}
{##}
{#<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}" />#}
{#<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.rtl.css' %}" />#}
{#<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-grid.css' %}" />#}
{#<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.css' %}" />#}
{#<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-reboot.css' %}" />#}
{#<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.css' %}" />#}
{#<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-utilities.css' %}" />#}
{#<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.css' %}" />#}
{##}
{##}
{#<div class="navbar">#}
{#    <a href="{% url 'home' %}">Home</a>#}
{#    <a href="{% url 'calendario' %}">Calendário</a>#}
{#    <a href="{% url 'projetos' %}">Projetos</a>#}
{#    <a href="{% url 'notas' %}">Notas</a>#}
{#</div>#}
