{% load static %}

{% include 'barra_superior.html' %}

<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-grid.css' %}"/>
<link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.css' %}"/>

<!-- TODO: tirar -->
<div style="margin-top: 150px">

</div>

<div class="row w-100">

    <!-- TIPOS & PRIORIDADES -->

    <div class="col-12 col-md-2">
        <div class="container mb-4">
            <div class="card-header">
                <h3>Tipos</h3>
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush">
                    {% for tipo in item.tipotarefa_set.all %}
                        {{ tipo }} <br>
                    {% endfor %}
                </div>
            </div>


        </div>

        <div class="container mb-4">
            <div class="card-header">
                <h3>Prioridades</h3>
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush">
                    {% for prioridade in item.prioridadetarefa_set.all %}
                        {{ prioridade }} <br>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <!-- TO DO -->
    <div class="col-12 col-md-10">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card-header">
                    To Do
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for tarefa in item.tarefas_to_do %}
                            <div class="list-group-item list-group-item-action"
{#                                 ic-get-from="{% url 'open_modal' %}"#}
{#                                 ic-target="#base_modal_content"#}
{#                                 ic-include='{#}
{#                                        "url":"{% url "tabelas" 'debenture' tarefa.id %}",#}
{#                                        "nome":"form_detalhe_tarefa",#}
{#                                        "view_only": true,#}
{#                                        "titulo":"Detalhe"}'#}
                            > <!-- TODO: testar -->
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">
                                        {{ tarefa }}
                                    </h6>
                                </div>
                                <p class="mb-1 small">
                                    <b>Tipo:</b> {{ tarefa.tipo }} <br>
                                    <b>Prioridade:</b> {{ tarefa.prioridade }}

                                </p>
                                <small>
                                    {% if tarefa.data_final %}<br>Data de Final: {{ tarefa.data_final }}{% endif %}
                                </small>
                            </div>

                        {% endfor %}
                    </div>
                </div>

            </div>

            <!-- DOING -->

            <div class="col-12 col-md-4">
                <div class="card-header">
                    Doing
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for tarefa in item.tarefas_doing %}
                            <div class="list-group-item list-group-item-action"
{#                                 ic-get-from="{% url 'open_modal' %}"#}
{#                                 ic-target="#base_modal_content"#}
{#                                 ic-include='{#}
{#                                                        "url":"{% url "tabelas" 'debenture' debent.id %}",#}
{#                                                        "nome":"form_detalhe_debenture",#}
{#                                                        "view_only": true,#}
{#                                                        "titulo":"Detalhe Debenture"}'#}
                            >
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">
                                        {{ tarefa }}
                                    </h6>
                                </div>
                                <p class="mb-1 small">
                                    <b>Tipo:</b> {{ tarefa.tipo }} <br>
                                    <b>Prioridade:</b> {{ tarefa.prioridade }}

                                </p>
                                <small>
                                    {% if tarefa.data_final %}<br>Data de Final: {{ tarefa.data_final }}{% endif %}
                                </small>
                            </div>

                        {% endfor %}
                    </div>
                </div>

            </div>


            <!-- DONE -->

            <div class="col-12 col-md-4">
                <div class="card-header">
                    Done
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for tarefa in item.tarefas_done %}
                            <div class="list-group-item list-group-item-action"
{#                                 ic-get-from="{% url 'open_modal' %}"#}
{#                                 ic-target="#base_modal_content"#}
{#                                 ic-include='{#}
{#                                                        "url":"{% url "tabelas" 'debenture' debent.id %}",#}
{#                                                        "nome":"form_detalhe_debenture",#}
{#                                                        "view_only": true,#}
{#                                                        "titulo":"Detalhe Debenture"}'#}
                            >
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">
                                        {{ tarefa }}
                                    </h6>

                                </div>
                                <p class="mb-1 small">
                                    <b>Tipo:</b> {{ tarefa.tipo }} <br>
                                    <b>Prioridade:</b> {{ tarefa.prioridade }}

                                </p>
                                <small>
                                    {% if tarefa.data_final %}<br>Data de Final: {{ tarefa.data_final }}{% endif %}
                                </small>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
