{% extends 'index.html' %}
{% load static %}
{% load tags_project %}

<link href="{% static 'handle_style.css' %}">

{% block content %}

    <div class="row w-100 h-100 mt-2">

        <!-- TIPOS & PRIORIDADES -->
        <div class="col-12 col-md-2">
            <div class="container mb-4">
                <div class="card-header">
                    Tipos
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for tipo in item.tipotarefa_set.all %}
                            {{ tipo }} <br>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="container mb-4">
                <div class="card-header">
                    Prioridades
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for prioridade in item.prioridadetarefa_set.all %}
                            {{ prioridade }} <br>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>


        <!-- ROW -->
        <div class="col-12 col-md-10">
            <div class="row h-100" id="shared_project">

                <!-- TO DO -->
                <div class="col-12 col-md-4 h-100 rounded">
                    <div class="rounded border border-dark">
                        <div class="card-header">
                            To Do
                            <span class="badge bg-dark rounded-pill text-white ml-1" id="todo_count">
                                {{ item.tarefas_to_do.count }}
                            </span>
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                                    data-target="#ModalCreateTaskTodo">Create Task
                            </button>

                            {% call_form form_task item 1 as todo_task_form %}
                            {% include 'projetos/form_todo_task.html' with form=todo_task_form item_id=item.id %}

                        </div>
                        <div class="card-body">
                            <ul class="list-group" id="todo">
                                {% for tarefa in item.tarefas_to_do %}
                                    <li class="list-group-item rounded mb-2" id="{{ tarefa.id }}">
                                        <!-- JAVASCRIPT FORM -->
                                        <div class="d-flex w-100 justify-content-between">
                                            <div class="handle">
                                                <i class="fas fa-arrows-alt"></i>
                                                {{ tarefa }}
                                            </div>

                                        </div>
                                        <p class="mb-1 small">
                                            <b>Tipo:</b> {{ tarefa.tipo }} <br>
                                            <b>Prioridade:</b> {{ tarefa.prioridade }}

                                        </p>
                                        <small>
                                            {% if tarefa.data_final %}<br>Data de Final:
                                                {{ tarefa.data_final }}{% endif %}
                                        </small>
                                    </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- DOING -->
                <div class="col-12 col-md-4 h-100 rounded">
                    <div class="rounded border border-dark">
                        <div class="card-header">
                            Doing
                            <span class="badge bg-dark rounded-pill text-white ml-1" id="doing_count">
                                {{ item.tarefas_doing.count }}
                            </span>
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                                    data-target="#ModalCreateTaskDoing">Create Task
                            </button>

                            {% call_form form_task item 2 as doing_task_form %}
                            {% include 'projetos/form_doing_task.html' with form=doing_task_form item_id=item.id %}

                        </div>
                        <div class="card-body">
                            <ul class="list-group" id="doing">
                                {% for tarefa in item.tarefas_doing %}
                                    <li class="list-group-item rounded mb-2" id="{{ tarefa.id }}">
                                        <!-- JAVASCRIPT FORM -->
                                        <div class="d-flex w-100 justify-content-between">
                                            <div class="handle">
                                                <i class="fas fa-arrows-alt"></i>
                                                {{ tarefa }}
                                            </div>

                                        </div>
                                        <p class="mb-1 small">
                                            <b>Tipo:</b> {{ tarefa.tipo }} <br>
                                            <b>Prioridade:</b> {{ tarefa.prioridade }}

                                        </p>
                                        <small>
                                            {% if tarefa.data_final %}<br>Data de Final:
                                                {{ tarefa.data_final }}{% endif %}
                                        </small>
                                    </li>

                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>


                <!-- DONE -->
                <div class="col-12 col-md-4 h-100 rounded">
                    <div class="rounded border border-dark">
                        <div class="card-header">
                            Done
                            <span class="badge bg-dark rounded-pill text-white ml-1" id="done_count">
                                {{ item.tarefas_done.count }}
                            </span>
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                                    data-target="#ModalCreateTaskDone">Create Task
                            </button>

                            {% call_form form_task item 3 as done_task_form %}
                            {% include 'projetos/form_done_task.html' with form=done_task_form item_id=item.id %}

                        </div>
                        <div class="card-body">
                            <ul class="list-group" id="done">
                                {% for tarefa in item.tarefas_done %}
                                    <li class="list-group-item rounded mb-2" id="{{ tarefa.id }}">
                                        <div class="d-flex w-100 justify-content-between">
                                            <div class="handle">
                                                <i class="fas fa-arrows-alt"></i>
                                                {{ tarefa }}
                                            </div>

                                        </div>
                                        <p class="mb-1 small">
                                            <b>Tipo:</b> {{ tarefa.tipo }} <br>
                                            <b>Prioridade:</b> {{ tarefa.prioridade }}

                                        </p>
                                        <small>
                                            {% if tarefa.data_final %}<br>Data de Final:
                                                {{ tarefa.data_final }}{% endif %}
                                        </small>
                                    </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- TODO try to group ids together -->
    <script>



        Sortable.create(todo, {
            group: 'shared',
            handle: '.handle',
            animation: 150,

            onEnd: function (evt) {

                $.ajax({
                    url: "/projeto/drag_task/{{ item.id }}",
                    data: {
                        'tarefa': evt.item.id,
                        'target': evt.to.id,
                        'index_after': evt.newIndex,
                    },
                    success: function (response) {
                        $("#todo_count").load(location.href + " #todo_count");
                        $("#doing_count").load(location.href + " #doing_count");
                        $("#done_count").load(location.href + " #done_count");
                    },

                });

            }
        })
        ;

        Sortable.create(doing, {
            group: 'shared',
            handle: '.handle',
            animation: 150,

            onEnd: function (evt) {

                $.ajax({
                    url: "/projeto/drag_task/{{ item.id }}",
                    data: {
                        'tarefa': evt.item.id,
                        'target': evt.to.id,
                        'index_after': evt.newIndex,
                    },
                    success: function (response) {
                        $("#todo_count").load(location.href + " #todo_count");
                        $("#doing_count").load(location.href + " #doing_count");
                        $("#done_count").load(location.href + " #done_count");
                    },

                });

            }

        });

        Sortable.create(done, {
            group: 'shared',
            handle: '.handle',
            animation: 150,

            onEnd: function (evt) {

                $.ajax({
                    url: "/projeto/drag_task/{{ item.id }}",
                    data: {
                        'tarefa': evt.item.id,
                        'target': evt.to.id,
                        'index_after': evt.newIndex,
                    },
                    success: function (response) {
                        $("#todo_count").load(location.href + " #todo_count");
                        $("#doing_count").load(location.href + " #doing_count");
                        $("#done_count").load(location.href + " #done_count");
                    },

                });
            }

        });

    </script>

    <script>
        $('#ModalCreateTaskTodo,#ModalCreateTaskDoing,#ModalCreateTaskDone').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

    </script>

{% endblock %}

{#            $.ajax({#}
{#                url: "/projeto/create_task",#}
{#                success: function (response) {#}
{#                    $("#shared_project").load(location.href + " #shared_project");#}
{#                },#}
{##}
{#            });#}