{% extends 'index.html' %}
{% load static %}
{% load tags_project %}
{% load crispy_forms_filters %}


{% block title %}
    {{ item }}
{% endblock %}


{% block content %}
    <div class="container p-0 m-0" style="width: auto">
        <div class="row w-100 h-100 mt-2">

            <!-- TIPOS & PRIORIDADES -->
            <div class="col-12 col-md-3 pr-0">
                <div class="container mb-4">
                    <div class="card-header">
                        Tipos
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for tipo in item.tipotarefaprojeto_set.all %}
                                <li class="list-group-item rounded">
                                    {{ tipo }}

                                    <div class="float-right">
                                        <a class="btn btn-primary btn-sm" href="{% url 'edit_type' tipo.id %}">
                                            <i class="fa fa-pencil-alt"></i>
                                        </a>

                                        <a class="btn btn-danger btn-sm" href="{% url 'delete_type' tipo.id %}">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                            <li class="list-group-item rounded">

                                <form action="{% url 'create_type_task' item.id %}" id="form_create_type" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="type" class="w-100 text-center">
                                            <b>Create new Type of event</b>
                                        </label>
                                        <input type="text" placeholder="Type" id="type" name="type" class="form-control"
                                               required>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-check-circle"></i> Save
                                        </button>

                                        <button type="button" class="btn btn-secondary" aria-label="Close"
                                                id="close_type">
                                            <span aria-hidden="true"><i class="fas fa-times"></i> Close</span>
                                        </button>
                                    </div>
                                </form>
                                <div class="text-center">
                                    <button id="show_type" class="btn btn-success text-center">Create Type</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="container mb-4">
                    <div class="card-header">
                        Prioridades
                    </div>
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            {% for prioridade in item.prioridadetarefaprojeto_set.all %}
                                <li class="list-group-item rounded">
                                    {{ prioridade }}
                                    <div class="float-right">
                                        <a class="btn btn-primary btn-sm"
                                           href="{% url 'edit_priority' prioridade.id %}">
                                            <i class="fa fa-pencil-alt"></i>
                                        </a>

                                        <a class="btn btn-danger btn-sm"
                                           href="{% url 'delete_priority' prioridade.id %}">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                            <li class="list-group-item rounded">

                                <form action="{% url 'create_priority_task' item.id %}" id="form_create_priority"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="priority" class="w-100 text-center"><b>Create new
                                            Priority</b></label>
                                        <input type="text" placeholder="Priority" id="priority" name="priority"
                                               class="form-control" required>
                                    </div>

                                    <div>

                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-check-circle"></i> Save
                                        </button>

                                        <button type="button" class="btn btn-secondary" aria-label="Close"
                                                id="close_priority">
                                            <span aria-hidden="true"><i class="fas fa-times"></i> Close</span>
                                        </button>
                                    </div>

                                </form>
                                <div class="text-center">
                                    <button id="show_priority" class="btn btn-success">Create Priority</button>
                                </div>
                            </li>

                        </div>
                    </div>

                </div>

            </div>

            <!-- ROW -->
            <div class="col-12 col-md-9">

                {% for lista in item.listatarefas_set.all %}
                    <div class="w-25 rounded sort_lists" id="{{ lista.numero }}">
                        <div class="rounded border border-dark">
                            <div class="card-header" id="TESTE{{ lista.numero }}">
                                {{ lista.nome|capfirst }}
                                <span class="badge bg-dark rounded-pill text-white ml-1" id="todo_count">
                                    {{ lista.tarefa_set.all.count }}
                                </span>
                                <button class="btn btn-info dropdown-toggle float-right" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fas fa-tasks"></i>
                                </button>
                                <!-- Todo check target -->
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" data-toggle="modal"
                                            data-target="#ModalCreateTask{{ lista.id }}">
                                        Create Task
                                    </button>

                                    <button class="dropdown-item"
                                            ic-get-from="{% url 'create_task' lista.id %}"
                                            ic-target="#modal_base"
                                            ic-deps="ignore"
                                    >CREATE TASK MODAL - {{ item }}
                                    </button>
                                    {#let myModal = new bootstrap.Modal(document.getElementById('myModal'), {});#}
                                    {#myModal.show();#}

                                    <a class="dropdown-item" href="{% url 'edit_list' lista.id %}">Edit List</a>
                                    <a class="dropdown-item" href="{% url 'delete_list' lista.id %}">Delete
                                        List</a>
                                </div>

                                {#                                {% include 'parciais/form_create_task.html' with form=form_create_task lista_id=lista.id %}#}

                            </div>
                            <div class="card-body">
                                <ul class="list-group sort_tarefas" id="{{ lista.numero }}">
                                    {% for tarefa in lista.tarefa_set.all %}
                                        <li class="list-group-item rounded mb-2" id="{{ tarefa.id }}">
                                            <div class="d-flex w-100 justify-content-between">
                                                <div>
                                                    {{ tarefa }}
                                                </div>

                                                <small>
                                                    {% if tarefa.data %}{{ tarefa.data }}{% endif %}
                                                </small>

                                            </div>
                                            <p class="mb-1 small">
                                                <b>Tipo:</b> {{ tarefa.tipo }} <br>
                                                <b>Prioridade:</b> {{ tarefa.prioridade }}
                                            </p>
                                        </li>

                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>

        </div>
    </div>

    <script>

        var elements_lists = document.getElementsByClassName("sort_lists")

        var i = 0, len_list = elements_lists.length;
        while (i < len_list) {
            Sortable.create(elements_lists[i], {
                group: 'shared_list',
                animation: 150,

                onEnd: function (evt) {

                    console.log(evt.oldIndex);
                    console.log(evt.oldIndex + 1);
                    console.log("-------------");
                    console.log(evt.newIndex);
                    console.log(evt.newIndex + 1);

                    $.ajax({
                        url: "/projeto/drag_list",
                        data: {
                            'list_id': evt.item.id,
                            'index_after': evt.newIndex + 1,
                        },
                        success: function (response) {
                            location.reload()
                        },

                    });

                }
            });

            i++
        }

        var elements_tasks = document.getElementsByClassName("sort_tarefas")

        var it = 0, len_task = elements_tasks.length;
        while (it < len_task) {
            Sortable.create(elements_tasks[it], {
                group: 'shared_task',
                animation: 150,

                onEnd: function (evt) {

                    $.ajax({
                        url: "/projeto/drag_task/{{ item.id }}",
                        data: {
                            'tarefa_id': evt.item.id,
                            'target': evt.to.id,
                            'index_after': evt.newIndex,
                        },
                        success: function (response) {
                            location.reload()
                        },

                    });

                }
            });

            it++
        }

    </script>

    {#    <script>#}

    {##}
    {#        $('#modal_base').on('show.bs.modal', function (event) {#}
    {#            var button = $(event.relatedTarget) // Button that triggered the modal#}
    {#var recipient = button.data('whatever') // Extract info from data-* attributes#}
    {#            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).#}
    {#            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.#}
    {##}
    {#            console.log("TESTANDO")#}
    {#            console.log("TESTANDO")#}
    {##}
    {#            var modal = $(this)#}
    {#modal.find('.modal-title').text('New message to ' + recipient)#}
    {#modal.find('.modal-body input').val(recipient)#}
    {#        })#}


    {#    </script>#}

    <script>

        $(document).ready(function () {
            $("#form_create_type").hide();
            $("#form_create_priority").hide();
        });

        $("#show_type").click(function () {
            $("#form_create_type").show();
            $("#show_type").hide();
        });

        $("#close_type").click(function () {
            $("#form_create_type").hide();
            $("#show_type").show();
        });

        $("#show_priority").click(function () {
            $("#form_create_priority").show();
            $("#show_priority").hide();
        });

        $("#close_priority").click(function () {
            $("#form_create_priority").hide();
            $("#show_priority").show();
        });


    </script>

{% endblock %}
